.header {
  width: 100%;
}
.header-studio {
  background-color: var(--white);
  border: 1px solid #ececec;
}

.header-container {
  @media screen and (max-width: 767px) {
    position: relative;
    display: flex;
    height: 60px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    height: 80px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header-portfolio {
  background-color: var(--white);
  border: 1px solid #ececec;
}

.header span {
  color: var(--title-text-color);
}
