.mobile-menu__open {
  position: absolute;
  border: none;
  background-color: #ffffff;
  top: 10px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  padding: 0;
  color: #212121;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 796px;
  background-color: #ffffff;
  z-index: 999;
  opacity: 1;
  overflow-y: scroll;
  transition: opacity 200ms linear, visibility 200ms linear;
  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 480px;
  }
}

.content {
  // position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #ffffff;
  width: 100%;
  padding-top: 48px;
  padding-right: 83px;
  padding-bottom: 48px;
  padding-left: 40px;
  text-align: center;
}
.mobile-menu.is-hidden .content {
  transform: translateX(0);
  opacity: 0;
}

.mobile-menu__open:hover,
.mobile-menu__open:focus {
  color: #2196f3;
}

.content__close {
  position: absolute;
  border: none;
  background-color: #ffffff;
  top: 10px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
  color: #212121;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    color: #2196f3;
  }

  &:hover {
    color: #2196f3;
  }
}

.content {
  text-align: left;
  align-items: left;
  color: #212121;
}
.content-list {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 302px;
}
.content-list__item {
  margin-bottom: 32px;
}
.content-list__link {
  color: #212121;
  text-decoration: none;
}
.content-list__link-current {
  color: #2196f3;
}
.content-contacts {
  padding-bottom: 32px;
}
.content-contacts__item {
  margin-bottom: 32px;
}
.content-contacts__phone {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}
.content-contacts__mail {
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.content-media {
  display: flex;
  justify-content: space-between;
  padding-bottom: 48px;
}
.content-media__link {
  font-size: 18px;
  line-height: 1.8;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.content-media__link.last {
  border: none;
}
