.features__title {
  color: var(--title-text-color);

  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
  @media screen and (max-width: 767px) {
    text-align: center;

    line-height: 1.14;
  }
  @media screen and (min-width: 768px) {
    text-align: left;
    line-height: 1.1;
  }
}
