:root {
  --primary-text-color: #f5c379;
  --title-text-color: #f5f79a;
  --accent-color: #e29228;
  --background-color: #2d5529;
  --background-dark:#1d2c1d(235, 10%, 23%);
  --backround-middle: #2a472e;
  --white:#7f8108;
  --light-grey: #a8af8f(255, 255, 255, 0.6);
  --middle-margin: 30px;
}