:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-color: #e5e5e5;
  --background-dark: #2f303a;
  --backround-middle: #f5f4fa;
  --white: #ffffff;
  --light-grey: rgba(255, 255, 255, 0.6);
  --middle-margin: 30px;
}
