:root {
  --primary-text-color: #d8af8d;
  --title-text-color: #444342;
  --accent-color: #7fbaeb;
  --background-color: #ece6dc;
  --background-dark: hsl(235, 10%, 23%);
  --backround-middle: #f5f4fa;
  --white: #ffffff;
  --light-grey: rgba(255, 255, 255, 0.6);
  --middle-margin: 30px;
}
